/* Fonts */
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 700;
    font-display: swap;
    src: local('Spoqa Han Sans Neo Bold'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 500;
    font-display: swap;
    src: local('Spoqa Han Sans Neo Medium'),
    url('../font') format('woff2'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 400;
    font-display: swap;
    src: local('Spoqa Han Sans Neo Regular'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 300;
    font-display: swap;
    src: local('Spoqa Han Sans Neo Light'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-weight: 100;
    font-display: swap;
    src: local('Spoqa Han Sans Neo Thin'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff'),
    url('../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-gray90);
    --color-primary-variant: var(--color-gray50);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-lightblue);
    --color-text: var(--color-black);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #222222;
    --color-gray90: #454545;
    --color-gray50: #7C7C7C;
    --color-blue: #004FFF;
    --color-lightblue: #1F90F9;

    /* Size */
    --size-max-width: 1300px
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'SpoqaHanSans', sans-serif;
    margin: 0;
}

h1,h2,h3,p,ul {
    margin: 0;
    font-family: 'SpoqaHanSansNeo';
}

ul {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
}

/* Common 공통 부분 스타일링 */
section {
    text-align: center;
}

.max-container {
    padding: 4rem 4rem 2rem 4rem;
    max-width: var(--size-max-width);
    margin: auto;
}

h1 {
    font-size: 60px;
    line-height: 100px;
    letter-spacing: 0.2px;
    color: var(--color-black);
    word-break: keep-all;
}

h2 {
    font-size: 45px;
    letter-spacing: 0.2px;
    color: var(--color-black);
    line-height: 71px;
    word-break: keep-all;
}

h3 {
    font-size: 35px;
    letter-spacing: 0.2px;
    color: var(--color-black);
    line-height: 55px;
    word-break: keep-all;
}

p {
    font-size: 22px;
    letter-spacing: 0.2px;
    color: var(--color-primary-variant);
    line-height: 37px;
    word-break: keep-all;
}

/* CSS Start */

/* Topbar */
.topbar {
    margin: 1rem 0 0 0;
    text-align: right;
}

.topbar__group {
    position: relative;
    margin-right: 5rem;
}

.topbar__text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    margin-right: 0.3rem;
}

.topbar__ic {
    position: absolute;
}

.topbar:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    margin-top: 20px;
    background-color: #ededed;
}

/* Header */
.header {
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    z-index: 1;
    /* 스크롤시 버튼끼리 겹치는 경우 생김 > 헤더를 가장 높은 곳에 위치해준다 z-index  */
}

.header__nav {
    display: flex;
    align-items: center;
    height: 108px;
    gap: 7rem;
    margin: 0 60px;
}

.header__logo {
    width: 142px;
    height: 40px;
    margin-top: 10px;
}

.header__menu {
    display: flex;
    gap: 3rem;
    white-space: nowrap;
    padding-top: 0.55rem;
}

.header__menu__item {
    font-size: 20px;
    font-weight:500;
    color: var(--color-primary-variant);
    transition: 250ms ease;
}

.header__menu__item.active {
    color: var(--color-primary);
    font-weight:700;
}

.header__menu__item:hover {
    color: var(--color-black);
}

.header__contact1 {
    background-color: var(--color-accent-variant);
    color: var(--color-white);
    font-size: 18px;
    padding: 18px 34px 18px 34px;
    border-radius: 12px;
    margin-right: 1rem;
    white-space: nowrap;
    transition: 250ms ease-out;
}

.header__contact1:hover {
    background-color: var(--color-accent);
}

.header__contact2 {
    background-color: var(--color-accent);
    color: var(--color-white);
    font-size: 18px;
    padding: 18px 43px 18px 43px;
    border-radius: 12px;
    margin-right: 3.5rem;
    white-space: nowrap;
    transition: 250ms ease-out;
}

.header__contact2:hover {
    background-color: var(--color-accent-variant);
}

.header__contact2--mobile {
    display: none;
}

 /* home */

#home {
    background-image: url(../images/bg_main-backgroun.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.home__title {
    padding: 7rem 0;
}


.home__text {
    display: inline-block;
}

.home__styling {
    display: inline-block;
}

.home__circle__text {
    display: inline-block;
    padding-left: 25Px;
}

.home__circle {
    position: absolute;
    padding-top: 10px;
}

.home__mainimage {
    width: 70%;
    min-width: 900px;
}

.home__mainimage--mobile {
    display: none;
}

.home__divider {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.home__divider svg {
    position: relative;
    display: block;
    width: calc(113% + 1.3px);
    height: 67px;
}

.home__divider .shape-fill {
    fill: #FFFFFF;
}

/* main1 */
#main1 {
    padding: 7em 0 8rem 0;
    background-color: rgb(241, 249, 255);
}

.main1__title {
    display: flex;
    align-items:end;
    gap: 1rem;
}

.main1__title__h1 {
    color: var(--color-accent);
}

.main1__title__h1-2 {
    color: var(--color-accent-variant);
}

.main1__title__h3 {
    line-height: 5.6rem;
}

.main1__description {
    text-align: left;
    padding-top: 1.3rem;
    font-weight: 400;
}

.main1__sub-description {
    text-align: left;
    padding-top: 5rem;
    font-weight: 300;
    color: #89a8c2;
}

/* main2 */
#main2 {
    padding-top: 5.5rem;
    background-color:  rgb(255, 255, 255);
}

.main2__title {
    text-align: left;
    /* display: inline-block;
    translate: -107%;
    box-shadow: inset 0 -20px 0 #eaf3ff; */
    margin-bottom: 5.5rem;
}

/* .main2__title:after {
    content: '';
    display: block;
    position: relative;
    height: 10px;
    width: 33.8%;
    margin-top: 0px;
    background-color: #ddedff;
} */

.main2__group {
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9rem;
}

.main2__group--2 {
    display: none;
}

.main2__img {
    width: 46%;
    border-radius: 28px;
    box-shadow: 0px 8px 24px 0px rgba(140, 149, 159, 0.2);
}

.main2__group__text {
    text-align: left;
}

.main2__group__text2 {
    text-align: right;
}

.main2__group__title {
    margin-bottom: 1.5rem;
    font-size: 33px;
    line-height: 51px;
    font-weight: 600;
    color: #292929;
}

.main2__group__img {
    width: 58%;
    margin-top: 1.5rem;
}

.main2__group__img2 {
    width: 78%;
    margin-top: 1.5rem;
}

/* main3 */
.main3__title1 {
    text-align: left;
    margin-top: 5.3rem;
    margin-bottom: 7rem;
}

.main3__title1__span {
    color: var(--color-accent-variant);
}

.main3__img {
    width: 100%;
}

.main3__title2 {
    text-align: right;
    margin-top: 5rem;
}

.main3__title2__span {
    color: var(--color-accent);
}

.main3__button {
    display: none;
}

#about {
    background-color: #1F90F9;
    background-image: url(../images/bg_about-backgroun.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 11rem 0;
}

.about {
    text-align: left;
}

.about__title1 {
    color: #292929;
}

.about__title2 {
    color: #4d4d4d;
}

.about__description {
    color: #575757;
    margin-top: 1rem;
}

#download {
    background-color: #004bec;
    /* padding: 7.5rem 0; */
}

.download__divider {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.download__divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 77px;
}

.download__divider .shape-fill {
    fill: #dddddd;
}

.download__title {
    color: var(--color-white);
    padding-top: 7.5rem;
    margin-bottom: 1rem;
}

.download__description {
    color: var(--color-white);
    margin-bottom: 4rem;
}

.download__button--mobile {
    display: none;
}

.download__button1 {
    background-color: var(--color-white);
    color: var(--color-black);
    display: inline-block;
    gap: 80px;
    padding: 10px 34px 6px 34px;
    border-radius: 12px;
    margin-right: 1.5rem;
    margin-bottom: 7.5rem;
    white-space: nowrap;
    transition: 200ms ease-out;
}

.download__button1:hover {
    background-color: #c3d3ff;
}

.download__button2 {
    background-color: var(--color-white);
    color: var(--color-black);
    display: inline-block;
    gap: 80px;
    padding: 9px 45px 6px 45px;
    border-radius: 12px;
    margin-right: -0.2rem;
    white-space: nowrap;
    transition: 200ms ease-out;
}

.download__button2:hover {
    background-color: #c3d3ff;
}

/* News */
#news {
    padding-top: 5.5rem;
    background-image: url(../images/bg_news-backgroun.png);
    width: 100%;
    background-size: cover;
}

.news__title {
    text-align: left;
    /* display: inline-block;
    translate: -107%;
    box-shadow: inset 0 -20px 0 #eaf3ff; */
    margin-bottom: 5.5rem;
}

.news__group {
    padding-bottom: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
}

.news__img_a {
    display:contents;
}

.news__img {
    width: 38%;
    border-radius: 28px;
    box-shadow: 0px 8px 24px 0px rgba(140, 149, 159, 0.2);
    opacity: 100;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
}

.news__img:hover {
    opacity: 0.7;
    transform: translateY(0px);
}

.news__group__text {
    text-align: left;
}

.news__group__text2 {
    text-align: right;
}

.news__group__title {
    margin-bottom: 1.5rem;
    font-size: 30px;
    line-height: 51px;
    font-weight: 600;
    color: #292929;
}

.news__group__description {
    font-size: 20px;
    line-height: 37px;
}

/* Arrow up */
.arrow-up {
    background-color: #e8e8e8;
    color: var(--color-white);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    text-align: center;
    padding-top: 0.2rem;
    box-shadow: 4.5px 4.5px 0px 0px var(--color-white);
    transition: 250ms ease-out;
}

.arrow-up:hover {
    background-color: #ffd260;
    width: 3.7rem;
    height: 3.7rem;
}

/* footer */
#footer {
    padding: 6rem;
    background-color:  rgb(243, 243, 243);
}

.footer__title {
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #363636;
}

.footer__description {
    margin-bottom: 1rem;
    font-size: 18px;
    color: #5f5f5f;
}

.footer__link {
    display: inline-block;
    color: #1c1c1c;
    box-shadow: inset 0 -1px 0 #363636;
    font-weight: 600;
    margin-bottom: 3rem;
}

.footer__description2 {
    font-size: 14px;
    margin-top: -10px;
    color: #444444;
}

/* 반응형 스타일링 */
@media screen and (max-width: 1300px) {
    h1 {
        font-size: 59px;
        line-height: 95px;
    }

    h2 {
        font-size: 42px;
        line-height: 66px;
    }

    h3 {
        font-size: 32px;
        line-height: 49px;
    }

    p {
        font-size: 19px;
        line-height: 32px;
    }

    .header__nav {
        height: 98px;
    }

    .header__logo {
        width: 132px;
        height: 50%;
    }

    .header__menu {
        gap: 2.2rem;
        margin-left: -2.8rem;
    }

    .header__menu__item {
        font-size: 19px;
    }
    
    .header__contact1 {
        padding: 16px 18px 19px 18px;
        font-size: 17px;
    }

    .header__contact2 {
        padding: 16px 27px 19px 27px;
        font-size: 17px;
    }

    .home__circle {
        margin-top: -3px;
        margin-left: -4px;
    }

    .home__mainimage {
        width: 90%;
        min-width: 800px;
    }

    .main1__title__h3 {
        line-height: 5.1rem;
    }

    .main2__title {
        margin-bottom: 4.7rem;
    }

    .main2__group {
        gap: 6rem;
    }

    .main2__group__title {
        line-height: 51px;
    }

    .main3__title1 {
        margin-top: 2.6rem;
    }

    .main3__title2 {
        margin-bottom: -3.3rem;
    }

    .news__title {
        margin-bottom: 4.7rem;
    }

    .news__group {
        gap: 6rem;
    }

    .news__group__title {
        font-size: 27px;
        line-height: 46px;
    }

    .news__group__description {
        font-size: 17px;
        line-height: 33px;
    }
}


@media screen and (max-width: 1100px) {
    h1 {
        font-size: 57px;
        line-height: 92px;
    }

    h2 {
        font-size: 39px;
        line-height: 62px;
    }
    
    h3 {
        font-size: 29px;
        line-height: 43px;
    }
    
    p {
        font-size: 17px;
        line-height: 29px;
    }
    
    .home__mainimage {
        width: 90%;
        min-width: 800px;
    }

    .main1__title__h3 {
        line-height: 5rem;
    }

    .main1__sub-description {
        margin-bottom: -1.5rem;
    }

    .header__menu {
        display: none;
    }

    .main2__title {
        margin-bottom: 4.1rem;
        margin-top: -1.5rem;
    }

    .main2__group {
        padding-bottom: 6rem;
        gap: 4rem;
    }

    .main2__group__title {
        margin-bottom: 1rem;
        font-size: 27px;
        line-height: 42px;
}

    .main3__title1 {
        margin-top: 2rem;
        margin-bottom: 5.3rem;
    }

    .main3__title2 {
        margin-top: 3.4rem;
        margin-bottom: -6rem;
    }

    #about {
        margin-bottom: -4.5rem;
    }

    #news {
        padding-top: 3.6rem;
    }

    .news__title {
        margin-bottom: 4.5rem;
    }

    .news__group {
        padding-bottom: 6rem;
        gap: 5rem;
    }

    .news__group__title {
        margin-bottom: 0.8rem;
        font-size: 23px;
        line-height: 38px;
    }

    .news__group__description {
        font-size: 15px;
        line-height: 26px;
    }

    .footer__description {
        margin-bottom: 1rem;
        font-size: 16px;
    }

}

@media screen and (max-width: 890px) {
    .max-container {
        padding: 0 6rem;
    }

    h1 {
        font-size: 36px;
        line-height: 58px;
    }

    h2 {
        font-size: 27px;
        line-height: 42px;
    }
    
    h3 {
        font-size: 22px;
        line-height: 38px;
    }
    
    p {
        font-size: 16px;
        line-height: 27px;
    }
    
    .topbar {
        display: none;
    }

    .header__nav {
        margin: 0 0 0 2rem;
        height: 70px;
    }

    .header__logo {
        width: 30%;
        min-width: 112px;
    }


    .header__button {
        display: block;
        margin-top: 2.5px;
    }

    .header__contact1 {
        display: none;
    }

    .header__contact2 {
        display: none;
    }

    .header__contact2--mobile {
        background-color: #ebefff;
        color: var(--color-accent);
        display: block;
        font-size: 0.9rem;
        padding: 12px 1rem 12px 1rem;
        border-radius: 12px;
        margin-right: 1.3rem;
        white-space: nowrap;
        transition: 250ms ease-out;
    }


    /* #home {
        padding: 0 2rem;
    } */

    .home__title {
        margin: -3rem 1.2rem -4.2rem 1.2rem;
    }

    .home__circle {
        display: none;
        width: 185px;
        margin: -5px 0 0 -26px;
    }

    .home__circle__text  {
        padding: 0;
    }

    .home__mainimage {
        display: none;
    }

    .home__mainimage--mobile {
        display:block;
        width: 100%;
        max-width: 600px;
        min-width: 360px;
        margin:auto;
    }

    .home__divider {
        display: none;
    }

    #main1 {
        padding: 5.2rem 0 7.6rem 0;
    }
    
    .main1__title {
        margin-bottom: -1.3rem;
        gap: 9px;
    }

    .main1__title__h1 {
        margin-bottom: 0.7rem;
    }

    .main1__title__h1-2 {
        margin-bottom: 0.7rem;
    }

    .main1__description {
        padding-top: 1.3rem;
    }

    .main1__sub-description {
        padding-top: 3rem;
    }

    .main2__group {
        flex-direction: column;
    }

    .main2__group--1 {
        display: none;
    }

    .main2__group--2 {
        display: block;
    }

    .main2__title {
        text-align: center;
        margin-bottom: 2.8rem;
        margin-top: -1px;
    }

    .main2__group__text {
    /* text-align: center; */
    }

    .main2__group__text2 {
        /* text-align: center; */
        }

    .main2__img {
        width: 100%;
        max-width: 500px;
        min-width: 300px;
        border-radius: 14px;
    }

    .main2__group__text {
        max-width: 500px;
        width: 100%;
    }

    .main2__group__text2 {
        max-width: 500px;
        width: 100%;
    }

    .main2__group__title {
        font-size: 21px;
        line-height: 34px;
        margin-top: -1.5rem;
    }

    .main2__group__description {
        margin-bottom: -1.5rem;
    }

    .main2__group__img {
        padding-top: 1rem;
    }

    .main2__group__img2 {
        padding-top: 1rem;
        margin-bottom: 0.7rem;
    }

    .main3__img {
        display: none;
    }

    .main3__title1 {
        text-align: center;
        font-size: 25.7px;
        line-height: 40px;
        margin-bottom: -1.9rem;
    }

    .main3__title2 {
        text-align: center;
        font-size: 25.7px;
        line-height: 40px;        
        margin-bottom: -3.2rem;
    }

    .main3__button {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: 6.5rem;
        width: 16rem;
    }

    .main3__contact1 {
        background-color: var(--color-accent-variant);
        color: var(--color-white);
        font-size: 18px;
        padding: 18px 30px 18px 30px;
        border-radius: 12px;
        margin-bottom: 1rem;
        white-space: nowrap;
        transition: 250ms ease-out;
    }
    
    .main3__contact1:hover {
        background-color: var(--color-accent);
    }
    
    .main3__contact2 {
        background-color: var(--color-accent);
        color: var(--color-white);
        font-size: 18px;
        padding: 18px 30px 18px 30px;
        border-radius: 12px;
        white-space: nowrap;
        transition: 250ms ease-out;
    }
    
    .main3__contact2:hover {
        background-color: var(--color-accent-variant);
    }

    .about {
        text-align: center;
        margin-top: -2rem;
    }

    #download {
        padding: 0 2rem 1.6rem 2rem;
    }

    .download__title {
        padding-top: 5.1rem;
    }
    
    .download__button--web {
        display: none;
    }

    .download__button--mobile {
        display: block;
        margin-top: -1.6rem;
        margin-bottom: -4rem;
    }

    .download__button1 {
        padding: 10px 10px 5px 10px;
        border-radius: 1rem;
        margin-right: 1.7rem;
        margin-left: -0.5rem;
        box-shadow: rgba(46, 81, 116, 0.2) 0px 8px 24px;
    }

    .download__button2 {
        padding: 10px 10px 5px 10px;
        border-radius: 1rem;
        box-shadow: rgba(46, 81, 116, 0.2) 0px 8px 24px;
    }

    .download__divider {
        display: none;
    }

    #news {
        padding-bottom: 3rem;
    }
    
    .news__title {
        margin-top: 1.5rem;
        margin-bottom: 2.3rem;
    }

    .news__group {
        flex-direction: column;
    }

    .news__group__title {
        font-size: 19px;
        line-height: 33px;
    }

    .news__group__description {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: -3rem;
    }

    .news__img_a {
        display: none;
    }

    #footer {
        padding: 5rem 2rem;
    }

    .footer__description {
        font-size: 13.5px;
        line-height: 23px;
    }

    .footer__link {
        font-size: 14px;
    }

    /* Arrow up */
.arrow-up {
    background-color: #e8e8e8;
    color: var(--color-white);
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    font-size: 1.5rem;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 100%;
    text-align: center;
    padding-top: 0.2rem;
    box-shadow: 4.5px 4.5px 0px 0px var(--color-white);
}

}

@media screen and (max-width: 700px) {
    .max-container {
        padding: 0 2rem;
    }

    .home__title {
        padding-top: 108px;
    }

    .home__text--mobile {
    font-size: 30px;
    line-height: 48px;
    }

    .home__text {
        font-size: 30px;
        line-height: 48px;
        margin-right: -2px;
    }

    .home__circle__text {
        display: block;
        font-size: 70px;
        padding-top: 1.7rem;
        background: linear-gradient(225deg,#004cff, #8ee1ff,#1F90F9, #004FFF, #0137ac);
        color: transparent;
        -webkit-background-clip: text;
    }

    .home__mainimage--mobile {
        max-width: 650px;
        margin-top: 0.5rem;
    }

    .arrow-up {
        display: none;
    }
}

